<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>




        <div class="container">

            <% perguntas.forEach(pergunta => { %>
                <p> <h2><%= pergunta.titulo %> </h2> </p>
                <p> <h1><%= pergunta.descricao %> </h1> </p>

            <% }) %>

        </div>
</body>
<%- include ('./partials/footer.ejs') %>